<header><h1>Flight-Booker</h1></header>



<div> <h2>Container for the fligths</h2>

<div class="flight list">
<%sorted=@flights.sort{|a,b| a.departure_time <=> b.departure_time}%>
<ul>   <%sorted.each do |f|%>

<li>
    <%departure=Airport.find(f.departure_id)%>
    <%arraival=Airport.find(f.arrival_id)%>
    <%num=32 - f.passenger_number%>
<h6>Departing: <%=departure.code%></h6>
<h6>Destination: <%=arraival.code%></h6>
<h6>Date: <%=f.date_formatted%></h6>
<h6>Seats Available: <%=num > 0 ? num : 'No Vacancy'%></h6>

</li>

<%end%>
</ul>
</div>


</div>